.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.searchForm input[type="text"] {
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
}

.searchForm button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    min-width: 120px;
    background-color: #394b5e;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.searchForm button:hover {
    background-color: #0056b3;
}


.cardList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loadMoreButton {
    margin: 20px auto 0;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border: none;
    background-color: #394b5e;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
    background-color: #0056b3;
}

.cart {
    position: absolute;
    width: 96px;
    right: 20px;    /* Приклеивает элемент к правому краю */
    top: 50px;
    cursor: pointer;
}

.cart:hover {
    filter: brightness(1.3);
}
